.Projects {
    min-height: 100vh;
    h3 {
        margin: 100px;
    }

    ul {

        li {
            min-width: 100px;

            a {
                text-decoration: none;
          
                
            } &:hover {
                text-shadow: 2px 2px 5px #82c272;
                
            } &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
            }
  
     
  

   
   
        } 
    }
}
