@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
.About {
    min-height: 100vh;
    h1 {
        padding: 40px;
        color: #a9da9d;
        display: flex;
        justify-content: center;
        font-family: 'Jura', sans-serif;
        font-size: 80px;
        font-weight: 600;
    }
    h2 {
        padding: 10px;
        color: #d5f7cd;
        display: flex;
        justify-content: center;
        font-family: 'Comfortaa', sans-serif;
        opacity: .6;
    }
    h6 {
        display: flex;
        justify-content: center;
        
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem 8rem;
        padding: 1rem 10rem;
        @media only screen and (max-width: 1300px) {
            margin: 1rem 0;
            padding: 2rem 0;
            flex-direction: column;
            justify-content: center;
          }
        p {
            flex-direction: column;
            margin: 80px;
        }
    }

}