@import url('https://fonts.googleapis.com/css2?family=Syncopate&family=Syne+Mono&display=swap');
.About {
    padding: 10px;
    h1 {
        color: #a9da9d;
        display: flex;
        justify-content: center;
        font-family: 'Syncopate', sans-serif;
    }
}