@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

.Header {
    z-index: 500;
    display: flex;
    justify-content: center;
    background-color: #726e8f; 
    position: sticky; 
    top: 0;
    padding-top: 25px;
    height: 8vh;
    box-shadow: 2px 2px 5px #afff9b;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 24px;
    @media only screen and (max-width: 600px) {
        font-size: 12px;
      }
    nav {
        display: flex;
    }
        li {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 1rem;
            a {
                color: #e9e0f0;
                background-image: linear-gradient( #afff9b,  #afff9b), linear-gradient( #afff9b,  #afff9b);
                background-size: 0% 0.1em;
                background-position-y: 100%;
                background-position-x: 0%, 100%;
                background-repeat: no-repeat;
                transition: background-size 0.2s ease-in-out;
                text-decoration: none;
                }
                a:hover,
                a:focus,
                a:active {
                background-size: 100% 0.1em;
                }                
         
        } 
    }
