
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Syncopate&family=Syne+Mono&display=swap');

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #29212e;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
    main {
        width: auto;
        margin: 3rem auto;
        flex-grow: 1;
        padding: 1rem;

        color: #e9e0f0;
    }
    h3 {
        color: #afff9b;
        display: flex;
        justify-content: center;
        font-family: 'Michroma', sans-serif;
    }

}
