
.App {

    min-height: 100vh;
    background-color: #29212e;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
    main {

        width: auto;
        margin: 2rem;
        flex-grow: 1;
        padding: 1rem;

        color: #e9e0f0;
    }
    h3 {
        display: flex;
        justify-content: center;
        font-family: 'Comfortaa', sans-serif
    }
    ul {
        list-style-position: inside;
        margin-left: 20px;
     }


}
